<h1>CASIOPEAとは？</h1>
<br>
<h2>-May the Word be with you-</h2>
<br>
<br>
<p>CASIOPEAは、心に響いた言葉を蓄積、管理、振り返りを支援するアプリケーションです</p>
<br>
<p>私たちは日々を過ごす中で、多くの機会で多くの言葉と触れ合い、心動かされています。</p>
<p>時には、一つの言葉が人生の方向性を決定づけることもあります。</p>
<p>多様性が広く認められている昨今、自らの生きる道を自ら決めることがますます重要になるでしょう。</p>
<br>
<br>
<p>しかしながら、人間の記憶は思った以上に脆弱で消えやすく、言葉もまた、うつろいやすいものです。</p>
<p>特に情報過多で多忙な現代社会を過ごしていると、一つ一つの言葉を忘れ、やがて自らの決心が鈍ってしまうこともあります。</p>
<p>せっかく出会った素晴らしい言葉や、人生の方向を見失ってしまうのはとても惜しいです。</p>
<br>
<br>
<p>CASIOPEAは、このような問題を解決するための、一つの解答提示です。</p>
<br>
<br>
<p>あなたが日々の生活の中で出会った、『心に響いた言葉』をCASIOPEA上に投稿しましょう。</p>
<p>投稿された言葉は、定期的に自動通知されます。</p>
<p>蓄積した言葉を振り返ることで、あなたは言葉と出会った時の考えを、忘れかけていた感情を思い出すことが出来るのです。</p>
<br>
<br>
<p>日々の生活に忙殺されて人生の意義を失いそうになった時、CASIOPEAから届いた言葉を振り返ってみましょう。</p>
<p>CASIOPEAは、あなたが進みたいと思っていた人生の方向を、再確認させてくれる一助になる筈です。</p>
